@{
    ViewBag.Title = "Calculate Freight";
}
<title>@ViewBag.Title</title>

<div class="content">
    <h2>Calculate Freight</h2>
    <div class="form">
        <h4>Select service, please:</h4>
        <div>@Html.ActionLink("Australia Post", "AustraliaPost", "Home")</div>
        <div>@Html.ActionLink("Fast Way Couriers", "FastWayCouriers", "Home")</div>
    </div>
</div>